@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

:root{
  --font-main: 'Karla', sans-serif;
  --font-extra: 'Space Mono', monospace;
}

body {
  font-family: var(--font-main);
}
h1 {
  font-family: var(--font-extra);
}
li {
  display: flex;
  flex-flow: column;
}
input {
  width: 20rem;
}